.mainFlight{
    background-color: #eae5e5;
    margin-top: -15px;
}

.headContaint{
    margin-left: 150px;
    margin-top: ;

}

.headindText{
    margin-top: 20px;
}

.btnContainer{
    display:flex ;
    margin-left: 135px;
    margin-top: 50px;
}
.mx-3{
    font-size: 20px;
    font-weight: 500;
}
.form-check-input{
    font-size: 20px;
    border: 3px solid black;
}

.form-check-label{
    font-size: 20px;
    font-weight: 500;
}

.calender{
    align-items: center;
    background-color: white;
    border: 5px solid yellow;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 145px;
    max-width: 1200px;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.check{
    margin-left: 150px;
    margin-top: 110px;

}

.checkBox{
    height: 20px;
    width: 20px;
}

.midFlight{
    margin-left: 150px;
    margin-top: 70px;
}

.lastFlight{
    align-items: center;
    background-color: #eae5e5;
    display: flex;
    height: 250px;
    justify-content: space-evenly;
}
.midFlightContainerOne{
    margin-top: 30px;
}
.innerMidFlight{
 margin-left: 150px;
 margin-top: 30px;
}

.innerMidContainer{
    margin-left: 110px;
   
}
.country{
    background-color: grey;
    border-radius: 5px;
    color: blue;
    margin-top: 25px;
}

.question{
    margin-left: 60px;
}

.cardContainer{
    display: grid;
    grid-auto-rows: minmax(100px,auto);
    grid-template-columns: repeat(3,1fr);
}

.timeWrapper{
    margin-left: 100px;
    margin-top: 30px;
}
.time{
    font-size: 20px;
    font-weight: 600px;
}

.form-range{
    background-color: blue;
    max-width: 250px;
}

.head{
    color: #008b8b;
    margin-left: 110px;
}

.overLine{
    color: blue;
    text-decoration: overline;
}

.footerFlight{
    margin-left: 280px;
    margin-top: 30px;
}


